@{
    var homeUrl = Href("~/");
}
<div id="google_translate_element"></div>
@*<div class="copyright clearfix col-md-12"><p>Copyright &#169;@DateTime.Now.Year <a href="http://www.enviroissues.com" target="_blank">EnviroIssues</a></p></div>*@
