<div id="logo">
  
    @*<div class="search_translate">
        <div id="google_translate_element"></div>
        <form class="usa-search usa-search-small">
            <div id="search" role="search">
                <label class="usa-sr-only" for="search-field-small">Search small</label>
                <input id="search-field-small" type="search" name="search" placeholder="search">
                <button type="submit">
                    <span class="usa-sr-only">Search</span>
                </button>
            </div>
        </form>
    </div>*@

</div>

