@*20-year vision.*@

<div class="row">
    <div class="col-sm-8">
        @Model.Html
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePartners/OccidentalPark_PioneerSquare.jpg" alt="People playing games at Occidental Park" />
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePartners/food_truck-1.jpg" alt="Downtown Seattle Food Truck" />
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePartners/people_park-1.jpg" alt="People talking at a park" />
            
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePartners/CalAnderson_park-1.jpg" alt="Pedestrians at Cal Anderson Park" />
        </div>
    </div>
</div>
