@*Working Together.*@

<div class="row">
    <div class="col-sm-8">
        @Model.Html
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/logos.png" alt="One Center City partner logos" />
        </div>
    </div>
</div>
