@*Four partners one plan*@
<div class="row">
    <div class="col-sm-8">
        @Model.Html
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePartners/four-partners-one-plan.png"  alt="Graphic depicting plan partners" />
        </div>
    </div>
</div>




    