@*ONE REGION. ONE PLAN. ONE CENTER CITY.*@

<div class="row" id="oneregion">
    <div class="col-sm-8">
        @Model.Html
        <div>
            <div><img src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/2016_1117_Center-City-101_v2.png" alt="Center City 101 Graphic"  /></div>
            <p class="caption">Center City includes 10 neighborhoods: Uptown, South Lake Union, Capitol Hill, Belltown, Denny Triangle, Pike Pine, Commercial Core, First Hill, Pioneer Square, and the Chinatown-International District.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img class="mobilehide" src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/Aerial_LookingNorth_FromTwoUnion.jpg" alt="Aerial photo looking North from Two Union"  />
            
        </div>
        <div>
            <img class="mobilehide" src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/Westlake_Park.jpg" alt="Photo of Westlake Park" />
            
        </div>
    </div>
</div>
