@*People want to be here.*@

<div class="row" id="people">
    <div class="col-sm-8">
        @Model.Html
        <div>
            <div><img src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/WereGrowing.png" alt="By 2035, Seattle will have 25,000 more households and 55,000 more jobs." /></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/OccidentialPark_foosball.jpg" alt="Occidential Park foosball" />
        </div>
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/downtown_living.jpg" alt="People dining on rooftop" />
            
        </div>
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/OneCenterCity/CapitolHill_I5_Pedestrians.jpg" alt="Capital Hill pedestrians" />
        </div>
    </div>
</div>
