@*20-year vision.*@

<div class="row">
    <div class="col-sm-8">
        @Model.Html
    </div>
    <div class="col-sm-4">
        <div>
            <div>
                <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePlan/Virginia-Inn.jpg" alt="Pedestrians and diners near Pike Place Market" />

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div style="margin-bottom: 20px;" title="One Center City partner logos"><img src="https://onecentercity.blob.core.windows.net/media/Default/ThePlan/11-16/2016_1116_TheProcess_infographic_v5.png" alt="One Center City partner logos"></div>
</div>
