@*What do you mean by public realm?*@

<div class="row">
    <div class="col-sm-8">
        @Model.Html
    </div>
    <div class="col-sm-4">
        <div><img src="https://onecentercity.blob.core.windows.net/media/Default/ThePlan/11-17/publicrealm_hinghay.jpg" alt="People at Hing Hay Park in the Chinatown-International District" /></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePlan/crosswalk.jpg" alt="Pedestrians crossing the street" />

        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePlan/King-St-Station.png" alt="King Street Station" />
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/ThePlan/11-17/publicrealm_sidewalk.jpg" alt="Sidewalks and new housing developments in the Pike Pine Neighborhood" />
        </div>
    </div>
</div>