@*advisory group*@

<div class="row">
    <div class="col-sm-8">
        @Model.Html
    </div>
    <div class="col-sm-4">
        <div>
            <img src="https://onecentercity.blob.core.windows.net/media/Default/AdvisoryGroup/11-17/advisory_group.jpg" alt="Photo of advisory group" />
        </div>
    </div>
</div>